.carrossel__cabecalho{
    width: 100%;
    padding: 1em 0;
    background-color: var(--bege-claro);
    border-top: 1px solid var(--escuro);
    border-bottom:1px solid var(--escuro);
    text-align: center;
}

.carrossel__cabecalho__texto{
    font-size: 24px;
    font-weight: 500;
}

.carrossel__cabecalho__texto-destaque{
    color: var(--vermelho);
}

.swiper-slide{
    display: flex;
    
}

.card__diferenca{
    width: 20%;
    padding: 1em;
    background-color: var(--bege-claro); 
}